<p id="notice"><%= notice %></p>

<h1>Localidades</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Fecha limite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localidades.each do |localidade| %>
      <tr>
        <td><%= localidade.tipo %></td>
        <td><%= localidade.precio %></td>
        <td><%= localidade.fecha_limite %></td>
        <td><%= link_to 'Show', localidade %></td>
        <td><%= link_to 'Edit', edit_localidade_path(localidade) %></td>
        <td><%= link_to 'Destroy', localidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Localidade', new_localidade_path %>
