<p id="notice"><%= notice %></p>

<h1>Boleta</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Pais</th>
      <th>Fecha inicio</th>
      <th>Fecha evento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boleta.each do |boletum| %>
      <tr>
        <td><%= boletum.nombre %></td>
        <td><%= boletum.ciudad %></td>
        <td><%= boletum.pais %></td>
        <td><%= boletum.fecha_inicio %></td>
        <td><%= boletum.fecha_evento %></td>
        <td><%= link_to 'Show', boletum %></td>
        <td><%= link_to 'Edit', edit_boletum_path(boletum) %></td>
        <td><%= link_to 'Destroy', boletum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boletum', new_boletum_path %>
