<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :event_nombre %>
  </div>

  <div class="field">
    <%= form.label :ciudad %>
    <%= form.text_field :ciudad, id: :event_ciudad %>
  </div>

  <div class="field">
    <%= form.label :fecha_preventa %>
    <%= form.date_select :fecha_preventa, id: :event_fecha_preventa %>
  </div>

  <div class="field">
    <%= form.label :fecha_evento %>
    <%= form.date_select :fecha_evento, id: :event_fecha_evento %>
  </div>

<div class="field">
    <%= form.label :localities_id %>
    <%= form.text_field :localities_id, id: :event_fecha_evento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
